/* Sayfadaki Herşey */
*{
    margin: 0px;
    padding: 0px;
}

/* Body */
#body{
    overflow-x: hidden;
    overflow-y: hidden;
    background: url("../img/kurt-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top;
    margin-top: 10px;
    background-position-y: center;
}

/* Oturum Div Çerçevesi */
#oturumCercevesi{
    background-color: rgba(102, 139, 173, 0.5);
    border-color: rgba(61, 61, 185, 0.363);
    position: absolute;
    /* left: 50%; */
    top: 50%;
    border-style: groove;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgb(51, 134, 211);
    overflow: auto;
    border-left: none;
    border-right: none;
    width: 100%;
}