/* Sayfadaki Herşey */
*{
    margin: 0px;
    padding: 0px;
}

/* Body */
#body{
    overflow-x: hidden;
    overflow-y: hidden;
    background: url("../img/kurt-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top;
    margin-top: 10px;
    background-position-y: center;
}

/* Çerçeve */
.cerceve{
    background-color: rgba(102, 139, 173, 0.5);
    border-color: rgba(61, 61, 185, 0.363);
    position: absolute;
    /* left: 50%; */
    top: 50%;
    border-style: groove;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgb(51, 134, 211);
    overflow: auto;
    border-left: none;
    border-right: none;
    width: 100%;
    max-height: 90vh;
}

/* Çerçeve içi */
.cerceve-ici{
    background-color: rgba(21, 47, 197, 0.404);
    overflow: hidden;
    white-space: nowrap;
}
/* Çerçeve Başlığı */
.text-shadow-white{
    text-shadow: 0px 0px 15px white;
}
/* Çerçeve içi Resim */
.cerceve-ici img{
    width: 96px;
    box-shadow: 0px 0px 10px rgb(1, 16, 31);
    border-radius: 48px;
}

/* Marquee animasyonu: */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

/* Scrollbar genel görünümü */
::-webkit-scrollbar {
    width: 12px;           /* Kaydırma çubuğu genişliği */
    height: 12px;          /* Alt kaydırma çubuğu yüksekliği */
}

/* Scrollbar thumb görünümü */
::-webkit-scrollbar-thumb {
    background-color: rgb(36, 39, 182);   /* Kaydırma çubuğunun rengi */
    border-radius: 10px;          /* Yuvarlatılmış köşeler */
    border: 2px solid transparent; /* İç kenar boşluğu (isteğe bağlı) */
    background-clip: padding-box;  /* Arka planın boyutunu ayarlar */
}

/* Scrollbar track görünümü */
::-webkit-scrollbar-track {
    background-color: rgb(25, 132, 219);   /* Arka plan rengi */
}

/* Hover durumu için thumb özelleştirme */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(19, 21, 122);        /* Üzerine gelindiğinde renk değişimi */
}