/* Takma İsim Divi */
#nickNameDiv{
    background-color: rgba(21, 47, 197, 0.404);
}
/* Takma isim Başlığı */
#nickNameDiv h1{
    text-shadow: 0px 0px 15px white;
}
#nickNameDiv img{
    width: 96px;
    box-shadow: 0px 0px 10px rgb(1, 16, 31);
    border-radius: 48px;
}