/* İsim Formu */
#nick-name-input{
    border: none;
    border-bottom: 2px solid #007bff; /* Alt çizginin stilini ve rengini ayarlayın */
    outline: none;
    background-color: rgba(255, 255, 255, 0.651);
    text-align: center;
}

/* Etiketler */
h1{
    color: rgb(0, 27, 49);
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
}