/* Oyun öncesi katılımcılar listesi kutusu */
.pre-game-participants-list-box{
    background-color: #1b93b880;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}