/* Oyun öncesi katılımcılar listesi kutusu */
.pre-game-participants-list-box{
    background-color: #1b93b880;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    overflow: hidden;
}

.pre-game-participants-list-box-padding-left{
    margin-left: 100%;   /*Başlangıç boşluğu*/
}

.pre-game-participants-list-box-text{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: auto;
}