/* Oyun öncesi katılımcılar listesi kutusu */
.pre-game-participants-list-box{
    background-color: #1b93b880;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    overflow: hidden;
}

.pre-game-participants-list-box-padding-left{
    margin-left: 100%;   /*Başlangıç boşluğu*/
}

.pre-game-participants-list-box-text{
    background-color: brown;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: auto;
}

/* Scrollbar genel görünümü */
::-webkit-scrollbar {
    width: 12px;           /* Kaydırma çubuğu genişliği */
    height: 12px;          /* Alt kaydırma çubuğu yüksekliği */
}

/* Scrollbar thumb görünümü */
::-webkit-scrollbar-thumb {
    background-color: rgb(36, 39, 182);   /* Kaydırma çubuğunun rengi */
    border-radius: 10px;          /* Yuvarlatılmış köşeler */
    border: 2px solid transparent; /* İç kenar boşluğu (isteğe bağlı) */
    background-clip: padding-box;  /* Arka planın boyutunu ayarlar */
}

/* Scrollbar track görünümü */
::-webkit-scrollbar-track {
    background-color: rgb(25, 132, 219);   /* Arka plan rengi */
}

/* Hover durumu için thumb özelleştirme */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(19, 21, 122);        /* Üzerine gelindiğinde renk değişimi */
}
