include global-config.pug

doctype html
html(lang="tr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Bootstrap:
        link(rel="stylesheet", type="text/css", href="/modules/bootstrap/dist/css/bootstrap.min.css")
        //- game.css:
        link(rel="stylesheet", href="css/game.css")
        //- Socket.io:
        script(src='/modules/socket.io-client/dist/socket.io.min.js')
        //- Yazı Fontu:
        +globalFont()
        //- Google analytics:
        +analytics()
        title= gameName+" Oda:"+roomKey
    body.kite-one-regular

        //- Ana Oyun Kutusu:
        #gameContainer.container-fluid
            .row 
                //- Üst Bar:
                .col-12.top-bar
                    .row.position-relative
                        //- Gün Sayacı:
                        .col-3.top-bar-div-height
                            #day-counter.d-inline-flex.day-box.top-50.start-0.position-absolute.translate-middle-y Gün: 0
                        //- Ana Sayaç:
                        .col-6.top-bar-div-height
                            #counter-box.d-inline-flex.top-50.start-50.position-absolute.translate-middle.text-center
                        //- Menu butonu:
                        .col-3.top-bar-div-height(onclick="menuOpenner()")
                            .d-inline-flex.menu-box.top-50.end-0.position-absolute.translate-middle-y
                                svg(viewbox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg' transform='matrix(1, 0, 0, 1, 0, 0)' stroke='#787878' width='55' height='55')
                                    g#SVGRepo_bgCarrier(stroke-width='0')
                                    g#SVGRepo_tracerCarrier(stroke-linecap='round' stroke-linejoin='round' stroke='#CCCCCC' stroke-width='0.24000000000000005')
                                    g#SVGRepo_iconCarrier
                                        path(d='M4 17H8M12 17H20M4 12H20M4 7H12M16 7H20' stroke='#000000' stroke-width='0.9600000000000002' stroke-linecap='round' stroke-linejoin='round')
                
                #contacts-card-div.container-fluid
                    .row
                #role-showing-div.container-fluid.d-none
                    .row
                        #role-div.col-12.col-sm-10.col-md-8.col-xl-4.position-absolute.top-50.start-50.translate-middle.d-flex.flex-column
                            img.m-auto
                            p.m-auto
                            i.m-auto
                #menu.col-12.d-none
                    .row
                        img#menu-role-img.m-auto.mb-3
                        h1#menu-role-text.col-12.text-center
                        h5#menu-role-information-title.col-12.text-center Rol Bilgisi:
                        h5#menu-role-information.col-12.text-center 
                        button#menu-show-end-game-screen.btn.btn-primary.col-12.my-1.d-none Oyun Sonu Ekranını Göster
                        button#menu-leave-the-game.btn.btn-danger.col-12.my-1 Oyundan Ayrıl!
                        
        //- Yükselen bilgi kutusu:
        #risingInfobox_outerFrame.d-flex
            #risingInfobox_innerFrame.my-auto.d-flex.py-1
                span#risingInfobox_spanText.my-auto.text-center
            #risingInfobox_divbox.justify-content-center.d-none
                center
                    button#risingInfobox_returnToGameScreenButton.btn.btn-success.col-11.my-1 Oyun Ekranına Dön
                    button#risingInfobox_returnToMainMenuButton.btn.btn-danger.col-11.mb-2.mt-1 Ana Menüye Dön

        //- Bootstrap JS ve Popper JS:
        script(src="/modules/jquery/dist/jquery.slim.min.js")
        script(src="/modules/@popperjs/core/dist/umd/popper.min.js")
        script(src="/modules/bootstrap/dist/js/bootstrap.min.js")
        script.
            const roomKey = "#{roomKey}"
        //- socket.io:
        script(src="js/global-socket-io(client).js") 
        //- game.js:
        script(src="js/game.js")   