doctype html
include config
html(lang="tr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Bootstrap:
        link(rel="stylesheet", type="text/css", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        //- open-login.css:
        link(rel="stylesheet", type="text/css", href="css/open-login.css")
        title= gameName+" Oturum Açma Sayfası"

    body(onresize="ekranGenisligiAyarlamasi()")#body
        div(id="oturumCercevesi")

            h1.text-center= gameName+" Oyununa Hoş Geldiniz"
            h4.modal-title.text-center Devam Etmek İçin Lütfen Oturum Açın:

            //- Google ile oturum aç kutusu:
            div.d-flex.justify-content-center.my-2
                button#google-login-button.col-6.m-auto
                    img(src="img/google-logo.png", alt="Google Logo", style="width:30px;")
                    span(style="font-size: 16px;") Google ile Giriş Yap!

        //- Bootstrap JS ve Popper JS:
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
        //- open-login.js:
        script(src="js/open-login.js")