doctype html
html(lang="tr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="css/open-login.css")
        title Kurtadam Oturum Açma Ekranı
    body(id="body")